@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --light-grey: rgb(145, 145, 145);
}

body {
  font-family: 'Questrial', sans-serif;
}

section {
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ====================================

        Airline Component Styling 

** ====================================*/
.card {
  border: 2px solid var(--light-grey);
  border-radius: 16px;
  background-color: #e6e6e6;
}

.card .logo {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card .logo img {
  height: 63px;
  width: 63px;
  margin-top: 10px;
  border-radius: 100%;
  border: 1px solid black;
}

.card .description .name {
  padding: 15px 0px;
}

.card .description .link-wrapper {
  margin: 30px 0px 10px 0px;
  height: 50px;
}

.card .description .link-wrapper a {
  text-decoration: none;
  background-color: rgb(59, 135, 235);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 50px;
  border: 1px solid white;
  width: 100%;
  text-decoration: none;
}

/* ====================================

        Airlines Component Styling 

** ====================================*/
.airlines .header {
  padding: 100px 100px 10px 100px;
}

.airlines .header h1 {
  padding-bottom: 19px;
  font-size: 60px;
}

.airlines .header h2 {
  font-weight: 300;
  font-size: 30px;
}

.airlines .grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
}

/* ====================================

  individualAirline Directory Styling 

** ====================================*/

.view-info-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.view-info-container .column {
  height: 100vh;
  overflow: scroll;
}

.view-info-container .right-column {
  background-color: white;
  padding-left: 50px;
}

.view-info-container .left-column {
  background-color: var(--light-grey);
}

/** Header Component*/

.header-container {
  padding: 50px 100px 50px 0;
  font-size: 30px;
}

.header-container img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin-bottom: -8px;
}

.header-container .total-reviews,
.header-container .total-score {
  font-size: 27px;
  padding: 10px 0;
}

.header-container .total-score {
  font-weight: bold;
}

/* ====================================

          R E V I E W   F O R M

** ====================================*/
.review-container .form {
  background-color: white;
  padding: 20px;
  height: 100vh;
  padding-top: 60px;
}

.review-container .form button {
  color: white;
  width: 100%;
  background-color: #0054a6;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  border: 1px solid white;
}

.review-container .form button:hover {
  background: white;
  color: #0054a6;
  border: 1px solid #0054a6;
}

.review-container .form form h2 {
  padding: 20px;
  font-size: 27px;
  font-weight: bold;
}

.review-container .form .form-control {
  border-radius: 4px;
}

.review-container .form .form-control input {
  min-height: 50px;
  width: 95%;
}

.review-container .form .form-control textarea {
  width: 100%;
  min-height: 80px;
}

.review-container .form .form-control input,
.review-container .form .form-control textarea {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin: 0px 0px 12px 0px;
  padding: 12px;
}

/** Start - Review Rating */
.review-container .form .form-control .rating-container p {
  font-size: 23px;
  padding-bottom: 20px;
  font-weight: bold;
}

.review-container .form .form-control .rating-container {
  text-align: center;
  border-radius: 4px;
  font-size: 25px;
  padding: 30px 0px 10px 0;
  border: 1px solid var(--light-grey);
  background-color: white;
}

.review-container .form .form-control .rating-container .rating-options {
  position: relative;
  display: flex;
  /** It is row reverse becasue when we hover it will start from left to the right
  since the array starts from 5 and goes until 1 */
  flex-direction: row-reverse;
  margin-top: 12px;
  justify-content: center;
  background: white;
}

/** It hides the input field since we will style the label element */
.review-container .form .form-control .rating-container .rating-options input {
  display: none;
}

.review-container
  .form
  .form-control
  .rating-container
  .rating-options
  input:checked
  ~ label,
.review-container
  .form
  .form-control
  .rating-container
  .rating-options
  input:checked
  ~ label
  ~ label {
  background-image: url(svg/selectedStar.svg);
}

.review-container
  .form
  .form-control
  .rating-container
  .rating-options
  input:not(:checked)
  ~ label:hover,
.review-container
  .form
  .form-control
  .rating-container
  .rating-options
  input:not(:checked)
  ~ label:hover
  ~ label {
  background-image: url(svg/hoveredStar.svg);
}

.review-container .form .form-control .rating-container .rating-options label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(svg/grayStar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
/** End - Review Rating */

/* ====================================

      R E V I E W  C O M P O N E N T 

** ====================================*/
.review-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 0px 20px 20px 0px;
}

.review-card .rating-wrapper {
  display: flex;
  flex-direction: row;
}

.review-card .rating-wrapper div.rating {
  font-size: 23px;
}

.review-card .info p.title {
  padding-top: 20px;
  font-size: 22px;
}

.review-card .info p.description {
  padding-bottom: 20px;
  font-size: 19px;
}

/* ====================================

      R A T I N G  C O M P O N E N T 

** ====================================*/
.star-container {
  position: relative;
  display: inline-block;
  color: rgb(175, 175, 175);
}

.stars {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(247, 247, 78);
}

/**
  \f005 => starts
  \0020 => spaces
  */
.star-container::before,
.stars::before {
  font-family: 'FontAwesome';
  content: '\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005';
}
